* {
	padding: 0;
	margin: 0;
	font-size: 12px;
	box-sizing: border-box;
	-webkit-user-select: auto;
	-webkit-user-modify: none;
	font-family: PingFangSC-Semibold, sans-serif, Arial, Microsoft YaHei;
	-webkit-tap-highlight-color: transparent;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
}

html,
body {
	width: 100%;
	height: 100%;
}

img {
	vertical-align: top;
	-webkit-touch-callout: none;
	border: none;
}

a {
	text-decoration: none;
	color: inherit;
}

ul>li {
	list-style: none;
}

.font-break {
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
}

::-webkit-scrollbar {
	width: 0rem;
	height: 0rem;
	-webkit-appearance: none;
}

::-webkit-scrollbar-track {
	background-color: transparent;
}

::-webkit-scrollbar-thumb {
	border-radius: .3rem;
	background-color: #aaa;
}

.order-header-title {
	font-weight: 800;
	font-size: 14px;
	color: #FFF;
	width: 100%;
	height: 50px;
	line-height: 50px;
	text-align: center;
	background: -webkit-linear-gradient(left, #03AAFF, #0387FF);
}

.seller-back {
	position: absolute;
	left: 20px;
	top: 14px;
	margin-top: 1.333333vw;
	margin-left: 1.333333vw;
	width: 12px;
	height: 12px;
	display: inline-block;
	border-bottom: .533333vw solid #fff;
	border-left: .533333vw solid #fff;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	z-index: 300;
}

.orderinfo-view {
	position: relative;
	height: auto;
	padding-top: 50vh;
}

.map-view {
	width: 100vw;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 10;
}

.orderinfo-context {
	position: relative;
	z-index: 200;
	width: 100%;
	height: auto;
	background: rgba(244, 244, 244, .2);
	z-index: 120;
	text-align: center;
	padding-top: 20px;
}

.order-map-seller-icon {
	width: 100px;
	height: 100px;
	left: 0;
	top: 0;
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-position: center center;
	border-radius: 50%;
	box-shadow: 6px 3px 20px rgba(0, 0, 0, 0.8);
	border: 2px solid rgba(255, 255, 255, 0.6);
}

.orderinfo-sellerbox {
	width: 90vw;
	height: 20vw;
	background: #FFF;
	border-radius: 2px;
	margin: 0 auto 12px auto;
	display: flex;
}

.orderinfo-seller-icon {
	width: 20vw;
	height: 20vw;
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-position: center center;
	flex: 0 0 auto;
}

.orderinfo-seller-msg {
	height: 20vw;
	flex: 1 1 auto;
	display: flex;
	padding: 5px 0 5px 20px;
	flex-direction: column;
	align-items: flex-start;
}

.orderinfo-seller-msg>div {
	flex: 1 1 auto;
}

.orderinfo-seller-name,
.order-item-by-list-context>div {
	line-height: 30px;
	font-size: 14px;
	font-weight: 600;
	overflow: hidden;
}

.orderinfo-seller-name {
	width: 100%;
	text-align: left;
}

.orderinfo-seller-name span {
	color: #007AFF;
	float: right;
	padding-right: 5px;
}

.orderinfo-seller-tell,
.orderinfo-seller-ordertime {}

.orderinfo-seller-ordertime span {
	font-weight: 600;
	color: #007AFF;
}

.orderinfo-orderbox {
	width: 90vw;
	overflow: hidden;
	background: #FFF;
	margin: 0 auto 12px auto;
}

.order-item-by-list {
	width: 100%;
	display: flex;
	overflow: hidden;
	height: 15vw;
}

.order-item-by-list-img {
	width: 15vw;
	height: 15vw;
	flex: 0 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
}

.order-item-by-list-img>div {
	width: 12vw;
	height: 12vw;
	background-position: center center;
	background-size: 100% auto;
	background-repeat: no-repeat;
	border: 1px solid #FBFCFD;
}

.order-item-by-list-context {
	flex: 1 1 auto;
	height: 15vw;
	border-bottom: 1px solid #EDEDED;
	display: flex;
	flex-direction: column;
	padding: 2px 16px 2px 20px;
	justify-content: space-around;
	align-items: flex-start;
}

.order-item-by-list-context>div {
	flex: 1 1 auto;
	width: 100%;
	text-align: left;
}

.order-item-by-list-context>div span {
	float: right;
	color: #007AFF;
}

.order-item-by-list-attr {
	float: left;
}

.order-item-by-list-context .order-item-by-list-attr span {
	color: #999;
	margin-right: 6px;
}

.orderinfo-box-info {
	width: 100%;
	overflow: hidden;
	padding: 0 15px;
	background: #FFF;
	margin-bottom: 12px;
}

.orderinfo-box-info-title {
	width: 100%;
	height: 42px;
	line-height: 42px;
	font-size: 16px;
	font-weight: 800;
	text-align: left;
	border-bottom: 1px solid #FBFCFD
}

.orderinfo-box-info-item {
	width: 100%;
	min-height: 32px;
	line-height: 32px;
	text-align: left;
	color: #666;
	font-size: 13px;
}

.orderinfo-box-info-item span {
	float: right;
	color: #333;
	font-size: 13px;
	display: flex;
	max-width: 60vw;
	justify-content: flex-end;
	flex-wrap: wrap;
	text-align: right;
}

.orderinfo-view .orderinfo-back {
	position: fixed;
}

.orderinfo-setting-box {
	width: 90vw;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #FFF;
	margin: 0 auto 12px auto;
}

.orderinfo-setting-btn {
	width: 150px;
	height: 30px;
	line-height: 28px;
	text-align: center;
	border: 1px solid #007AFF;
	margin: 0 16px;
	color: #007AFF;
}

.orderinfo-setting-btn:nth-child(2) {
	color: #FFF;
	background: #007AFF;
}


/*address*/

.address-view .order-header-title {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 100;
}

.address-view-scroll {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100vh;
	padding: 50px 0 10px 16px;
}


/*添加收货地址 icon*/

.address-edit {
	position: absolute;
	right: 0;
	top: 0;
	width: 60px;
	height: 66px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-size: 16px auto;
	background-position: center center;
	background-repeat: no-repeat;
	background-image: url('../assets/edit.png');
}



/*切换tab动画*/
.all-view-enter-active {
	transition: all .3s ease;
}

.all-view-leave-active {
	/*transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);*/
}

.all-view-enter,
.all-view-leave-to {
	transform: translateX(100px);
	opacity: 0;
}

.tab-inner-view-enter-active {
	transition: all .3s ease;
}

.tab-inner-view-leave-active {
	/*transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);*/
}

.tab-inner-view-enter,
.tab-inner-view-leave-to {
	transform: translateX(100px);
	opacity: 0;
}